	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/05/2018 12:24
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 24px;
  font-style: normal;
  margin-left: 0px;
}

.flaticon-bitbucket-logotype-camera-lens-in-perspective:before { content: "\f100"; }
.flaticon-squarespace-logo:before { content: "\f101"; }
.flaticon-smug:before { content: "\f102"; }
.flaticon-flickr-website-logo-silhouette:before { content: "\f103"; }
.flaticon-github-logo:before { content: "\f104"; }
.flaticon-behance-logo:before { content: "\f105"; }
.flaticon-dribbble:before { content: "\f106"; }
.flaticon-themeforest:before { content: "\f107"; }
.flaticon-html5:before { content: "\f1b2"; }
.flaticon-css3:before { content: "\f13c"; }
.flaticon-spring-boot:before { content: "\f15b"; }
.flaticon-laravel:before { content: "\f15c"; }
.flaticon-php:before { content: "\f14b"; }
.flaticon-java-ee:before { content: "\f1b9"; }
.flaticon-jira:before { content: "\f12d"; }
.flaticon-oracle-db:before { content: "\f135"; }
.flaticon-python:before { content: "\f0c3"; }
.flaticon-mysql:before { content: "\f0b2"; }
.flaticon-mongodb:before { content: "\f0b3"; }
.flaticon-cplusplus:before { content: "\f106"; }
.flaticon-excel:before { content: "\f09c"; }
.fab.fa-html5 , .fab.fa-css3-alt , .fab.fa-js , .fab.fa-php , .fab.fa-python, .fab.fa-cuttlefish, .fab.fa-java , .fas.fa-square-root-alt , .fab.fa-laravel , .fas.fa-database, .fas.fa-terminal, .fas.fa-file- , .fab.fa-github{
  font-size: 40px; /* Augmente la taille */
}
